In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
import seaborn as sns
import numpy as np

In [4]:
happiness=pd.read_csv('../data/world-happiness-report.csv')

In [4]:
happiness

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
0,Afghanistan,2008,3.724,7.370,0.451,50.80,0.718,0.168,0.882,0.518,0.258
1,Afghanistan,2009,4.402,7.540,0.552,51.20,0.679,0.190,0.850,0.584,0.237
2,Afghanistan,2010,4.758,7.647,0.539,51.60,0.600,0.121,0.707,0.618,0.275
3,Afghanistan,2011,3.832,7.620,0.521,51.92,0.496,0.162,0.731,0.611,0.267
4,Afghanistan,2012,3.783,7.705,0.521,52.24,0.531,0.236,0.776,0.710,0.268
...,...,...,...,...,...,...,...,...,...,...,...
1944,Zimbabwe,2016,3.735,7.984,0.768,54.40,0.733,-0.095,0.724,0.738,0.209
1945,Zimbabwe,2017,3.638,8.016,0.754,55.00,0.753,-0.098,0.751,0.806,0.224
1946,Zimbabwe,2018,3.616,8.049,0.775,55.60,0.763,-0.068,0.844,0.710,0.212
1947,Zimbabwe,2019,2.694,7.950,0.759,56.20,0.632,-0.064,0.831,0.716,0.235
1948,Zimbabwe,2020,3.160,7.829,0.717,56.80,0.643,-0.009,0.789,0.703,0.346

In [5]:
happiness.columns

Index(['Country name', 'year', 'Life Ladder', 'Log GDP per capita',
       'Social support', 'Healthy life expectancy at birth',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Positive affect', 'Negative affect'],
      dtype='object')

### Happiness is the outcome variable. It is measured by "Life Ladder"
### The other variables (GDP per capita, Social suppport, Life expectancy, Freedom, etc.) are factors that have an impact on happiness.

## Challenge 1: Find the top 10 happiest countries in the world

### Alternative 1: sort the dataframe by "Life Ladder" in reverse order and extract the first 10 rows.
### Alternative 2: groupby "Country name" and compute the mean of "Life Ladder", then sort in reverse order and extract the first 10 rows

In [5]:
lifeladderDataFrame=happiness.sort_values(by='Life Ladder',ascending=False)

In [6]:
lifeladderDataFrame.head(10)

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
449,Denmark,2005,8.019,10.851,0.972,69.60,0.971,NaN,0.237,0.860,0.154
451,Denmark,2008,7.971,10.880,0.954,70.08,0.970,0.272,0.248,0.757,0.163
563,Finland,2020,7.889,10.750,0.962,72.10,0.962,-0.116,0.164,0.744,0.193
561,Finland,2018,7.858,10.783,0.962,71.90,0.938,-0.127,0.199,0.782,0.182
450,Denmark,2007,7.834,10.891,0.954,69.92,0.932,0.240,0.206,0.828,0.194
560,Finland,2017,7.788,10.768,0.964,71.80,0.962,-0.002,0.192,0.787,0.176
454,Denmark,2011,7.788,10.848,0.962,70.62,0.935,0.298,0.220,0.769,0.175
562,Finland,2019,7.780,10.792,0.937,72.00,0.948,-0.052,0.195,0.755,0.181
1654,Switzerland,2012,7.776,11.079,0.947,72.78,0.945,0.139,0.323,0.859,0.176
453,Denmark,2010,7.771,10.839,0.975,70.40,0.944,0.242,0.175,0.785,0.155

In [12]:
lifeladderDataFrame=pd.DataFrame(happiness.groupby('Country name')['Life Ladder'].mean())

In [13]:
lifeladderDataFrame

              Life Ladder
Country name
Afghanistan      3.594667
Albania          5.019385
Algeria          5.389875
Angola           4.420250
Argentina        6.310133
...                   ...
Venezuela        6.019867
Vietnam          5.305857
Yemen            3.912250
Zambia           4.551714
Zimbabwe         3.882600

[166 rows x 1 columns]

In [14]:
lifeladderDataFrame.sort_values(by='Life Ladder',ascending=False).head(10)

              Life Ladder
Country name
Denmark          7.680400
Finland          7.597154
Switzerland      7.548300
Norway           7.512400
Netherlands      7.466286
Iceland          7.446500
Canada           7.376333
Sweden           7.369467
New Zealand      7.310286
Australia        7.282071

## Challenge 2: Compare the 5 happiest countries in the world with the 5 least happy ones

### Tip: find the top 5 and the bottom 5 countries, then filter the original dataframe to extract observations specific to those countries, finally visualize the results
### Tip: you can create a composite filter contatenating each country with an OR operator

In [16]:
lifeladderDataFrame=pd.DataFrame(happiness.groupby('Country name')['Life Ladder'].mean())

In [17]:
top5countries=lifeladderDataFrame.sort_values(by='Life Ladder',ascending=False).head(5)

In [19]:
top5countries

              Life Ladder
Country name
Denmark          7.680400
Finland          7.597154
Switzerland      7.548300
Norway           7.512400
Netherlands      7.466286

In [18]:
bottom5countries=lifeladderDataFrame.sort_values(by='Life Ladder',ascending=True).head(5)

In [20]:
bottom5countries

                          Life Ladder
Country name
South Sudan                  3.402000
Central African Republic     3.515000
Burundi                      3.548200
Togo                         3.555000
Afghanistan                  3.594667

In [32]:
DenmarkFilter=(happiness['Country name']=='Denmark')

In [38]:
happiness[DenmarkFilter].mean()

/srv/conda/envs/notebook/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

year                                2012.933333
Life Ladder                            7.680400
Log GDP per capita                    10.879200
Social support                         0.957133
Healthy life expectancy at birth      71.169333
Freedom to make life choices           0.945067
Generosity                             0.170929
Perceptions of corruption              0.200467
Positive affect                        0.813733
Negative affect                        0.197200
dtype: float64

In [43]:
happiness[DenmarkFilter].mean()

/srv/conda/envs/notebook/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

year                                2012.933333
Life Ladder                            7.680400
Log GDP per capita                    10.879200
Social support                         0.957133
Healthy life expectancy at birth      71.169333
Freedom to make life choices           0.945067
Generosity                             0.170929
Perceptions of corruption              0.200467
Positive affect                        0.813733
Negative affect                        0.197200
dtype: float64

In [34]:
FinlandFilter=(happiness['Country name']=='Finland')

In [35]:
happiness[FinlandFilter]

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
551,Finland,2006,7.672,10.745,0.965,69.76,0.969,-0.005,0.132,0.722,0.172
552,Finland,2008,7.671,10.796,0.951,70.08,0.934,0.028,0.217,0.773,0.144
553,Finland,2010,7.393,10.734,0.935,70.40,0.916,0.091,0.413,0.832,0.202
554,Finland,2011,7.354,10.754,0.938,70.64,0.936,0.101,0.320,0.773,0.205
555,Finland,2012,7.420,10.735,0.928,70.88,0.921,-0.001,0.361,0.796,0.202
556,Finland,2013,7.445,10.722,0.941,71.12,0.919,0.040,0.306,0.769,0.195
557,Finland,2014,7.385,10.714,0.952,71.36,0.933,-0.001,0.265,0.784,0.199
558,Finland,2015,7.448,10.716,0.948,71.60,0.930,0.111,0.223,0.751,0.191
559,Finland,2016,7.660,10.740,0.954,71.70,0.948,-0.027,0.250,0.797,0.182
560,Finland,2017,7.788,10.768,0.964,71.80,0.962,-0.002,0.192,0.787,0.176
561,Finland,2018,7.858,10.783,0.962,71.90,0.938,-0.127,0.199,0.782,0.182
562,Finland,2019,7.780,10.792,0.937,72.00,0.948,-0.052,0.195,0.755,0.181
563,Finland,2020,7.889,10.750,0.962,72.10,0.962,-0.116,0.164,0.744,0.193

In [36]:
happinesstop5=pd.concat([happiness[DenmarkFilter],happiness[FinlandFilter]], axis=0)

In [37]:
happinesstop5

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
449,Denmark,2005,8.019,10.851,0.972,69.60,0.971,NaN,0.237,0.860,0.154
450,Denmark,2007,7.834,10.891,0.954,69.92,0.932,0.240,0.206,0.828,0.194
451,Denmark,2008,7.971,10.880,0.954,70.08,0.970,0.272,0.248,0.757,0.163
452,Denmark,2009,7.683,10.824,0.939,70.24,0.949,0.264,0.206,0.749,0.234
453,Denmark,2010,7.771,10.839,0.975,70.40,0.944,0.242,0.175,0.785,0.155
454,Denmark,2011,7.788,10.848,0.962,70.62,0.935,0.298,0.220,0.769,0.175
455,Denmark,2012,7.520,10.846,0.951,70.84,0.933,0.139,0.187,0.774,0.209
456,Denmark,2013,7.589,10.851,0.965,71.06,0.920,0.215,0.170,0.862,0.195
457,Denmark,2014,7.508,10.862,0.956,71.28,0.942,0.118,0.237,0.832,0.233
458,Denmark,2015,7.514,10.878,0.960,71.50,0.941,0.222,0.191,0.829,0.218
459,Denmark,2016,7.558,10.903,0.954,71.80,0.948,0.138,0.210,0.836,0.208
460,Denmark,2017,7.594,10.916,0.952,72.10,0.955,0.155,0.181,0.824,0.206
461,Denmark,2018,7.649,10.935,0.958,72.40,0.935,0.018,0.151,0.821,0.206
462,Denmark,2019,7.693,10.954,0.958,72.70,0.963,0.020,0.174,0.862,0.181
463,Denmark,2020,7.515,10.910,0.947,73.00,0.938,0.052,0.214,0.818,0.227
551,Finland,2006,7.672,10.745,0.965,69.76,0.969,-0.005,0.132,0.722,0.172
552,Finland,2008,7.671,10.796,0.951,70.08,0.934,0.028,0.217,0.773,0.144
553,Finland,2010,7.393,10.734,0.935,70.40,0.916,0.091,0.413,0.832,0.202
554,Finland,2011,7.354,10.754,0.938,70.64,0.936,0.101,0.320,0.773,0.205
555,Finland,2012,7.420,10.735,0.928,70.88,0.921,-0.001,0.361,0.796,0.202
556,Finland,2013,7.445,10.722,0.941,71.12,0.919,0.040,0.306,0.769,0.195
557,Finland,2014,7.385,10.714,0.952,71.36,0.933,-0.001,0.265,0.784,0.199
558,Finland,2015,7.448,10.716,0.948,71.60,0.930,0.111,0.223,0.751,0.191
559,Finland,2016,7.660,10.740,0.954,71.70,0.948,-0.027,0.250,0.797,0.182
560,Finland,2017,7.788,10.768,0.964,71.80,0.962,-0.002,0.192,0.787,0.176
561,Finland,2018,7.858,10.783,0.962,71.90,0.938,-0.127,0.199,0.782,0.182
562,Finland,2019,7.780,10.792,0.937,72.00,0.948,-0.052,0.195,0.755,0.181
563,Finland,2020,7.889,10.750,0.962,72.10,0.962,-0.116,0.164,0.744,0.193

### Challenge 3: Which factors have an impact on happiness ?

#### Tip: consider computing the correlation between variables
#### Tip: consider https://seaborn.pydata.org/tutorial/relational.html#relating-variables-with-scatter-plots